:root {
    --fjsc-primary-100: #f5f5f5;
    --fjsc-primary-200: #e0e0e0;
    --fjsc-primary-300: #c6c6c6;
    --fjsc-primary-400: #a8a8a8;
    --fjsc-primary-500: #8c8c8c;
    --fjsc-primary-600: #6c6c6c;
    --fjsc-primary-700: #2b2b2b;
    --fjsc-primary-800: #1b1b1b;
    --fjsc-primary-900: #0c0c0c;
    --fjsc-primary-1000: #000000;

    --fjsc-secondary-100: #1ca6ff;
    --fjsc-secondary-200: #1995e6;
    --fjsc-secondary-300: #1685cc;
    --fjsc-secondary-400: #1474b3;
    --fjsc-secondary-500: #116499;
    --fjsc-secondary-600: #0e5380;
    --fjsc-secondary-700: #0b4266;
    --fjsc-secondary-800: #08324c;
    --fjsc-secondary-900: #062133;
    --fjsc-secondary-1000: #161819;

    --fjsc-red-100: #ff6666;
    --fjsc-red-200: #ff4d4d;
    --fjsc-red-300: #ff3333;
    --fjsc-red-400: #ff1a1a;
    --fjsc-red-500: #ff0000;
    --fjsc-red-600: #cc0000;
    --fjsc-red-700: #990000;
    --fjsc-red-800: #660000;
    --fjsc-red-900: #330000;

    --fjsc-error-color: var(--fjsc-red-300);

    --fjsc-area-background: var(--fjsc-primary-900);
    --fjsc-area-border: var(--fjsc-primary-800);

    --fjsc-container-background: var(--fjsc-primary-800);
    --fjsc-container-border: var(--fjsc-primary-700);

    --fjsc-text-color: var(--fjsc-primary-100);

    --fjsc-interactive-background: var(--fjsc-primary-900);
    --fjsc-interactive-background-hover: var(--fjsc-primary-700);
    --fjsc-interactive-background-active: var(--fjsc-primary-300);
    --fjsc-interactive-color: var(--fjsc-primary-200);
    --fjsc-interactive-color-active: var(--fjsc-primary-900);
    --fjsc-interactive-border: var(--fjsc-primary-700);
    --fjsc-interactive-border-focused: var(--fjsc-secondary-100);

    --fjsc-input-padding-x: 0.75em;
    --fjsc-input-padding-y: 0.3em;

    --fjsc-container-padding-x: 8px;
    --fjsc-container-padding-y: 8px;

    --fjsc-area-padding-x: 16px;
    --fjsc-area-padding-y: 16px;

    --fjsc-border-radius-small: 4px;
    --fjsc-border-radius-medium: 6px;
    --fjsc-border-radius-large: 12px;

    --fjsc-font: sans-serif;
    --fjsc-base-font-size: 16px;
    --fjsc-gap: 5px;
}

.no-pointer {
    pointer-events: none;
}

.hidden {
    display: none;
}

.material-symbols-outlined {
    font-size: var(--fjsc-base-font-size) !important;
}

.adaptive-icon {
    font-size: 1em !important;
}

.fjsc-fill-parent {
    width: 100%;
    height: 100%;
}

.fjsc.flex, .fjsc.flex-v {
    display: flex;
}

.fjsc.flex-v {
    flex-direction: column;
    gap: var(--fjsc-gap);
}

.fjsc.gap {
    gap: var(--fjsc-gap);
}

.relative {
    position: relative;
}

.align-children {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

label.fjsc {
    height: max-content;
}

.fjsc {
    font-family: var(--fjsc-font), sans-serif;
    font-size: var(--fjsc-base-font-size);
    border: none;
    background: none;
    color: var(--fjsc-text-color);
}

.fjsc-area {
    background: var(--fjsc-area-background);
    padding: var(--fjsc-area-padding-y) var(--fjsc-area-padding-x);
    border-radius: var(--fjsc-border-radius-large);
    border: 1px solid var(--fjsc-area-border);
}

.fjsc-container {
    background: var(--fjsc-container-background);
    padding: var(--fjsc-container-padding-y) var(--fjsc-container-padding-x);
    border-radius: var(--fjsc-border-radius-medium);
    border: 1px solid var(--fjsc-container-border);
}

button.fjsc, input.fjsc, select.fjsc, textarea.fjsc {
    padding: var(--fjsc-input-padding-y) var(--fjsc-input-padding-x);
    border-radius: var(--fjsc-border-radius-small);
    border: 1px solid var(--fjsc-interactive-border);
    background: var(--fjsc-interactive-background);
    color: var(--fjsc-interactive-color);
}

button.fjsc {
    height: max-content !important;
    border-bottom: 3px solid var(--fjsc-interactive-border);
}

button.fjsc:hover {
    cursor: pointer;
}

button.fjsc:hover, input.fjsc:hover, select.fjsc:hover, textarea.fjsc:hover {
    background: var(--fjsc-interactive-background-hover);
}

button.fjsc.active, input.fjsc.active, select.fjsc.active, textarea.fjsc.active {
    background: var(--fjsc-interactive-background-active);
    color: var(--fjsc-interactive-color-active);
}

button.fjsc:focus-visible, input.fjsc:focus-visible, select.fjsc:focus-visible, textarea.fjsc:focus-visible {
    outline: none;
    border-color: var(--fjsc-interactive-border-focused);
}

.fjsc-search-select {
    height: max-content;
}

.fjsc-search-select-options {
    box-sizing: border-box;
    max-height: 30dvh;
    overflow: auto;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    background: var(--fjsc-interactive-background);
    border: 1px solid var(--fjsc-interactive-border);
    border-radius: 0 0 var(--fjsc-border-radius-small) var(--fjsc-border-radius-small);
    z-index: 9999;
    gap: 0;
    flex-wrap: nowrap;
}

.fjsc-search-select-option {
    cursor: pointer;
    padding: var(--fjsc-input-padding-y) var(--fjsc-input-padding-x);
}

.fjsc-search-select-option:hover, .fjsc-search-select-option.selected {
    background: var(--fjsc-interactive-background-hover);
}

.fjsc-search-select-dropdown {
    background: var(--fjsc-interactive-background);
    cursor: pointer;
    padding: var(--fjsc-input-padding-y) var(--fjsc-input-padding-x);
    border: 1px solid var(--fjsc-interactive-border);
    border-bottom: 3px solid var(--fjsc-interactive-border);
    border-radius: 0 var(--fjsc-border-radius-small) var(--fjsc-border-radius-small) 0;
    border-left: none;
    line-height: 1;
}

.fjsc-search-select-dropdown:hover {
    background: var(--fjsc-interactive-background-hover);
}

.fjsc-search-select-visible {
    gap: 0 !important;
    width: 100%;
}

.fjsc-search-select-input {
    flex-grow: 1;
    background: var(--fjsc-interactive-background);
    border-radius: var(--fjsc-border-radius-small) 0 0 var(--fjsc-border-radius-small) !important;
    border: 1px solid var(--fjsc-interactive-border);
}

.fjsc-search-select-input:focus-visible {
    outline: none;
    border-color: var(--fjsc-interactive-border-focused);
}

h1.fjsc, h2.fjsc, h3.fjsc, h4.fjsc, h5.fjsc, h6.fjsc {
    margin: 0;
}

h1.fjsc {
    font-size: 2em;
}

h2.fjsc {
    font-size: 1.5em;
}

h3.fjsc {
    font-size: 1.17em;
}

h4.fjsc {
    font-size: 1em;
}

h5.fjsc {
    font-size: 0.83em;
}

h6.fjsc {
    font-size: 0.67em;
}

.fjsc-checkbox-container {
    display: block;
    position: relative;
    padding-left: calc(1em + var(--fjsc-gap));
    cursor: pointer;
    user-select: none;
}

.fjsc-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.fjsc-checkbox-container input:focus-visible ~ .checkmark {
    border: 2px solid var(--fjsc-interactive-border);
}

.invalid .fjsc-checkmark {
    border-color: var(--fjsc-error-color);
}

.fjsc-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: var(--fjsc-interactive-background);
    border: 1px solid var(--fjsc-interactive-border);
    border-radius: var(--fjsc-border-radius-small);
}

.fjsc-checkmark:hover {
    background: var(--fjsc-interactive-background-hover);
}

.fjsc-checkmark-icon {
    top: -4px;
    position: absolute;
    left: 2px;
    font-size: 14px;
    display: none;
}

.fjsc-checkbox-container input:checked ~ .fjsc-checkmark .fjsc-checkmark-icon {
    display: initial;
}

.fjsc-toggle-container {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: var(--fjsc-interactive-background);
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
}

.invalid .fjsc-toggle-container {
    border: 1px solid var(--fjsc-error-color);
}

.fjsc-toggle-slider {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--fjsc-interactive-background-active);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left .2s ease;
    left: 2px;
}

input.fjsc-slider:checked ~ .fjsc-toggle-container {
    background: var(--fjsc-interactive-color);
}

input.fjsc-slider:checked ~ .fjsc-toggle-container .fjsc-toggle-slider {
    left: 22px;
    background: var(--fjsc-interactive-background);
}

input.invalid, textarea.invalid {
    border-color: var(--fjsc-error-color);
}

.fjsc-error {
    color: var(--fjsc-error-color);
    font-size: 0.9em;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.disabled * {
    pointer-events: none;
}